.App {
  text-align: center;

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

code {
  color: red!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;

  & span {
    font-weight: 600;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  padding: 30px;

  &:has(> form) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    table {
      width: -webkit-fill-available;
      padding: 20px;

      td.actions {
        display: flex;
        gap: 15px;

        .btn {
          display: flex;
          align-items: center;
          width: fit-content;
          padding: 10px;
        }
      }
    }

    form {
      display: flex;
      width: 50%;

      .btn {
        min-width: 100px;
      }
    }
  }
}